# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.DS_Store
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.swp
*~
.build/

# Tuist managed
Derived/
*.xcodeproj
*.xcworkspace
